# dependencies
node_modules

# env
.env
.env.local

# build outputs
dist
backend/dist
frontend/dist

# TypeScript incremental build cache
*.tsbuildinfo
frontend/tsconfig.tsbuildinfo
backend/tsconfig.tsbuildinfo

# coverage
coverage